<div id="logo-div">
  <ion-text color="medium">
    <p>{{title ? title : ''}}</p>
    <img src="../../../assets/icon/logo-if.png" alt="logotipo" height="80px">
    <h3>iFinanças</h3>
  </ion-text>
</div> 